[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gsw"]
	path = gsw
	url = https://github.com/teos-10/gsw-r
	shallow = true
	registered = true
